body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movieBox {
  font-size: 12px;
  border: solid 1px;
  width: 25%;
  padding: 3%;
  text-align: center;
  margin: 1%;
}

.flexContainer {
  flex-wrap: wrap;
  display: flex;
  margin: 10%;
}

.searchBar {
  flex-wrap: wrap;
  display: flex;
  margin: 10%;
}
.searchBarBox {
  height: 10%;
  width: 35%;
}

.emptySearchBarBox {
  width: 40%;
}
